<ul class="media-list">
  <% posts.each do |post| %>
    <% user = post.user %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to user.name, user_path(user) %> <span class="text-muted">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p><%= image_tag post.picture,:size =>"280x210" %></p>
          <p><%= post.content %></p>
          <%= render 'comments/comments', post_comments: post.post_comments %>
          <br/>
          <% if current_user %>
            <%= form_for [post, PostComment.new] do |form| %>
              <%= form.text_area :content, cols: "30", placeholder: "コメントする", rows: "2" %>
              <%= form.submit "コメントの投稿" %>
            <% end %>
          <% end %>  
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>